/* Fondo oscuro que cubre toda la pantalla cuando el popup está abierto */
.dropdown-backdrop {
  position: fixed;
  top: 0;
  left: 0px;
  margin: 20px;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

/* Popup centrado */
.dropdown-popup {
  width: calc(90% - 250px);
  margin-left: 250px;
  height: 75%;
  background-color: white;
  border-radius: 20px; /* Bordes más redondeados */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  position: relative;
  padding: 20px;
  overflow-y: auto;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Botón para cerrar el popup */
.dropdown-close {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 24px;
  cursor: pointer;
}

/* Opciones dentro del popup */
.dropdown-options {
  margin-top: 20px;
  width: 100%;
  max-height: 80%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 10px; /* Espaciado entre botones */
}

/* Botón con estilo similar al de Twitter */
.dropdown-option {
  padding: 10px 20px;
  cursor: pointer;
  text-align: center;
  background-color: #b6b6b6; /* Color azul de Twitter */
  color: white;
  border: 2px solid black;
  border-radius: 9999px; /* Bordes completamente redondeados */
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.dropdown-option:hover {
  background-color: #0d8ddb; /* Color de hover para Twitter */
}

/* Estilos para el modo oscuro */
.dark-mode .dropdown-popup {
  background-color: #2e2e2e;
  color: #ccc;
}

.dark-mode .dropdown-option {
  background-color: #444;
  color: #ccc;
}

.dark-mode .dropdown-option:hover {
  background-color: #555;
}

/* Ajustes para dispositivos móviles */
@media (max-width: 768px) {
  .dropdown-popup {
    width: 80%;
    height: 75%;
    padding: 0px;
    margin-left: 0;
    margin-right: 7%;
  }
  .dropdown-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
  }
}
