/* Estilos específicos para el historial */
.historial-container {
    max-width: 800px;
}

.historial-title {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
    color: #444;
}

/* Estilo de la lista de ejercicios */
.records-list {
    list-style-type: none;
    padding: 0;
}

.record-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }
  
  .record-info {
    flex: 1;
    margin-right: 10px;
  }

.record-date {
    font-weight: bold;
    color: #444;
}

.record-muscle-group {
    font-weight: bold;
    color: #333;
}

.record-exercise {
    color: #666;
}

.delete-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #777;
    transition: background-color 0.3s ease;
    flex-shrink: 0;
  }
  
  .delete-button:hover {
    background-color: #999;
  }
  
  .trash-icon {
    width: 15px;
    height: 15px;
    color: #fff;
    stroke-width: 2.5;
  }
